---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Conteudo from '../components/Conteudo.astro';
import Conteudo2 from '../components/Conteudo2.astro';
---
<div>
<Layout title="Welcome to Astro.">
	
	<Hero/>
	<Conteudo/>
	<Conteudo2/>
</Layout>
</div>


<style>
	div{
		background-color: rgb(34, 33, 33);
	}
</style>