---
import imagens_logo from '../imagens/Image.png';
import logo_horizontal from '../imagens/logo-horizontal.png';
---

<div class="navbar bg-base-100">
    <div class="flex-1">
     
      <img src={logo_horizontal.src} />
    </div>
    <div class="flex-none">
      <button class="bg-pink-dark p-2 rounded-lg">
        <p class="text-white">Assinar</p>
      </button>
    </div>
  </div>